$primary_one : #011627;
$primary_two : #011221;
$primary_three : #01080E;

$secondary_one : #607B96;
$secondary_two : #4D5BCE;

$secondary_three : #3C9D93;
$secondary_four : #5565E8;
$secondary_five : #43D9AD;

$accent_one : #FEA55F;
$accent_two : #E99287;
$accent_three : #C98BDF;

$accent_four : #FFFFFF;
$lines : #1E2D3D;
$gradient_one : #4D5BCE;
$gradient_two : #43D9AD;
$gradient_three : #1C2B3A;
