$primary_one : #01080E;
$primary_two : #011627;
$primary-three : #011221;
$secondary_one : #607B96;
$secondary_two : #3C9D93;
$secondary_three : #4D5BCE;
$secondary_four : #FFFFFF;
$secondary_five : #5565E8;
$accent_one : #FEA55F;
$accent_two : #43D9AD;
$accent_three : #E99287;
$accent_four : #C98BDF;
$lines : #1E2D3D;
$gradient_one : #4D5BCE;
$gradient_two : #43D9AD;
$gradient_three : #1C2B3A
