<div style="display: flex;align-items: baseline;">
    <div class="line_numbers">
        <p class="me-3 light_text m-0 p-0">1</p>
        <p class="me-3 light_text m-0 p-0">2</p>
        <p class="me-3 light_text m-0 p-0">3</p>
        <p class="me-3 light_text m-0 p-0">4</p>
        <p class="me-3 light_text m-0 p-0">5</p>
    </div>
    <p class="light_text p-2 d-flex me-4" style="flex-direction: column;">
        <span class="light_text">/*</span>
        <span class="orange">! High School</span>
        <span class="light_text">* Mahadevi high school, kaup Karnataka.</span>
        <span class="light_text">* 10th | Percentage: 83% | Apr, 2016.</span>
        <span class="light_text">*/</span>
    </p>
</div>
<div style="display: flex;align-items: baseline;">
    <div class="line_numbers">
        <p class="me-3 light_text m-0 p-0">1</p>
        <p class="me-3 light_text m-0 p-0">2</p>
        <p class="me-3 light_text m-0 p-0">3</p>
        <p class="me-3 light_text m-0 p-0">4</p>
        <p class="me-3 light_text m-0 p-0">5</p>
    </div>
    <p class="light_text p-2 d-flex me-4" style="flex-direction: column;">
        <span class="light_text">/*</span>
        <span class="orange">! PUC</span>
        <span class="light_text">* St. Mary’s PU College, Shirva Karnataka.</span>
        <span class="light_text">* 12th | Science | Percentage: 81% | May, 2018.</span>
        <span class="light_text">*/</span>
    </p>
</div>
<div style="display: flex;align-items: baseline;">
    <div class="line_numbers">
        <p class="me-3 light_text m-0 p-0">1</p>
        <p class="me-3 light_text m-0 p-0">2</p>
        <p class="me-3 light_text m-0 p-0">3</p>
        <p class="me-3 light_text m-0 p-0">4</p>
        <p class="me-3 light_text m-0 p-0">5</p>
    </div>
    <p class="light_text p-2 d-flex me-4" style="flex-direction: column;">
        <span class="light_text">/*</span>
        <span class="orange">! Bachelor of Engineering</span>
        <span class="light_text">* Mangalore Institute of Technology and Engineering, Mangalore, India</span>
        <span class="light_text">* B.E (Mechanical) | CGPA: 8.2 | July, 2022</span>
        <span class="light_text">*/</span>
    </p>
</div>