<div style="display: flex;align-items: baseline;">
    <div class="line_numbers">
        <p class="me-3 light_text m-0 p-0">1</p>
        <p class="me-3 light_text m-0 p-0">2</p>
        <p class="me-3 light_text m-0 p-0">3</p>
        <p class="me-3 light_text m-0 p-0">4</p>
        <p class="me-3 light_text m-0 p-0">5</p>
        <p class="me-3 light_text m-0 p-0">6</p>
        <p class="me-3 light_text m-0 p-0">7</p>
        <p class="me-3 light_text m-0 p-0">8</p>
        <p class="me-3 light_text m-0 p-0">9</p>
        <p class="me-3 light_text m-0 p-0">10</p>
        <p class="me-3 light_text m-0 p-0">11</p>
        <p class="me-3 light_text m-0 p-0">12</p>
        <p class="me-3 light_text m-0 p-0">13</p>
        <p class="me-3 light_text m-0 p-0 d-block d-lg-none">14</p>
        <p class="me-3 light_text m-0 p-0 d-block d-lg-none">15</p>
        <p class="me-3 light_text m-0 p-0 d-block d-lg-none">16</p>
        <p class="me-3 light_text m-0 p-0 d-block d-lg-none">17</p>
        <p class="me-3 light_text m-0 p-0 d-block d-lg-none">18</p>
        <p class="me-3 light_text m-0 p-0 d-block d-lg-none" >19</p>
        <p class="me-3 light_text m-0 p-0 d-block d-lg-none">20</p>
        <p class="me-3 light_text m-0 p-0 d-block d-lg-none">21</p>
        <p class="me-3 light_text m-0 p-0 d-block d-lg-none">22</p>
        <p class="me-3 light_text m-0 p-0 d-block d-lg-none">23</p>
        <p class="me-3 light_text m-0 p-0 d-block d-lg-none">24</p>
        <p class="me-3 light_text m-0 p-0 d-block d-lg-none">25</p>

    </div>
    <p class="light_text p-2 d-flex me-4" style="flex-direction: column;">
        <span class="light_text">/*</span>
        <span class="orange">! Summary :</span>
        <span class="light_text">* Experienced software engineer proficient in full-stack web development</span>
        <span class="light_text">* Expertise in Angular.js, JavaScript, and TypeScript</span>
        <span class="light_text">* Strong track record of developing interactive web applications</span>
        <span class="light_text">* Extensive experience in collaborating with cross-functional teams</span>
        <span class="light_text">* Skilled in project execution using Scrum methodology</span>
        <span class="light_text">* Holds a B.E. in Mechanical Engineering with a CGPA of 8.2</span>
        <span class="light_text">* Notable achievements include notable awards at Pace Wisdom Solution and a 3-star ranking on Hacker Rank</span>
        <span class="light_text">* Passionate about coding, reading, traveling, and cooking</span>
        <span class="light_text">*/</span>
    </p>
</div>