<div style="display: flex;align-items: baseline;">
    <div class="line_numbers" >
        <p class="me-3 light_text m-0 p-0">1</p>
        <p class="me-3 light_text m-0 p-0">2</p>
        <p class="me-3 light_text m-0 p-0">3</p>
        <p class="me-3 light_text m-0 p-0">4</p>
        <p class="me-3 light_text m-0 p-0">5</p>
        <p class="me-3 light_text m-0 p-0">6</p>
        <p class="me-3 light_text m-0 p-0">7</p>
        <p class="me-3 light_text m-0 p-0">8</p>
        <p class="me-3 light_text m-0 p-0">9</p>
        <p class="me-3 light_text m-0 p-0">10</p>
        <p class="me-3 light_text m-0 p-0">11</p>
        <p class="me-3 light_text m-0 p-0">12</p>
        <p class="me-3 light_text m-0 p-0">13</p>
        <p class="me-3 light_text m-0 p-0">14</p>
        <p class="me-3 light_text m-0 p-0 d-block d-lg-none">15</p>
        <p class="me-3 light_text m-0 p-0 d-block d-lg-none">16</p>
        <p class="me-3 light_text m-0 p-0 d-block d-lg-none">17</p>
        <p class="me-3 light_text m-0 p-0 d-block d-lg-none">18</p>
        <p class="me-3 light_text m-0 p-0 d-block d-md-none" >19</p>
        <p class="me-3 light_text m-0 p-0 d-block d-md-none">20</p>


    </div>
    <p class="light_text p-2 d-flex me-4" style="flex-direction: column;">
        <span class="light_text">/*</span>
        <span class="orange">! Associate Software Engineer : Pace Wisdom Solution</span>
        <span class="light_text">* DEC 2022 - Present | Mangalore, India.</span>
        <span class="light_text">* Developed full-fledged web applications using Angular.js for rich interactive content.</span>
        <span class="light_text">* Implemented complex features across sub-projects including Skilling Pathway, Pre-Screen Credit Score (PCS), and Credit Guarantee (CG).</span>
        <span class="light_text">* Collaborated seamlessly with cross-functional teams and contributed to various modules within the "Samhita" project.</span>
        <span class="light_text">* Utilized Scrum methodology effectively, ensuring smooth project execution.</span>
        <span class="light_text">* Skilled in project execution using Scrum methodology.</span>
        <span class="light_text">*/</span>
    </p>
</div>
<div style="display: flex;align-items: baseline;">
    <div class="line_numbers">
        <p class="me-3 light_text m-0 p-0">1</p>
        <p class="me-3 light_text m-0 p-0">2</p>
        <p class="me-3 light_text m-0 p-0">3</p>
        <p class="me-3 light_text m-0 p-0">4</p>
        <p class="me-3 light_text m-0 p-0">5</p>
        <p class="me-3 light_text m-0 p-0">6</p>
        <p class="me-3 light_text m-0 p-0">7</p>
        <p class="me-3 light_text m-0 p-0">8</p>
        <p class="me-3 light_text m-0 p-0">9</p>
        <p class="me-3 light_text m-0 p-0">10</p>
        <p class="me-3 light_text m-0 p-0 d-block d-lg-none">11</p>
        <p class="me-3 light_text m-0 p-0 d-block d-lg-none">12</p>
        <p class="me-3 light_text m-0 p-0 d-block d-lg-none">13</p>
        <p class="me-3 light_text m-0 p-0 d-block d-lg-none">14</p>
        <p class="me-3 light_text m-0 p-0 d-block d-lg-none" >15</p>
        <p class="me-3 light_text m-0 p-0 d-block d-lg-none">16</p>
        <p class="me-3 light_text m-0 p-0 d-block d-lg-none">17</p>
    </div>
    <p class="light_text p-2 d-flex me-4" style="flex-direction: column;">
        <span class="light_text">/*</span>
        <span class="orange">! Internship : Pace Wisdom Solution</span>
        <span class="light_text">* SEP 2022 – DEC 2022 | Mangalore, India.</span>
        <span class="light_text">* Undertook immersive Angular learning projects, creating functional and full-fledged applications.</span>
        <span class="light_text">* Gained hands-on experience in both frontend and backend development, as well as database management.</span>
        <span class="light_text">*/</span>
    </p>
</div>
<div style="display: flex;align-items: baseline;">
    <div class="line_numbers">
        <p class="me-3 light_text m-0 p-0">1</p>
        <p class="me-3 light_text m-0 p-0">2</p>
        <p class="me-3 light_text m-0 p-0">3</p>
        <p class="me-3 light_text m-0 p-0">4</p>
        <p class="me-3 light_text m-0 p-0">5</p>
        <p class="me-3 light_text m-0 p-0">6</p>
        <p class="me-3 light_text m-0 p-0">7</p>
        <p class="me-3 light_text m-0 p-0">8</p>
        <p class="me-3 light_text m-0 p-0">9</p>
        <p class="me-3 light_text m-0 p-0">10</p>
        <p class="me-3 light_text m-0 p-0">11</p>
        <p class="me-3 light_text m-0 p-0">12</p>
        <p class="me-3 light_text m-0 p-0 d-block d-lg-none">13</p>
        <p class="me-3 light_text m-0 p-0 d-block d-lg-none">14</p>
        <p class="me-3 light_text m-0 p-0 d-block d-lg-none" >15</p>
        <p class="me-3 light_text m-0 p-0 d-block d-lg-none">16</p>
        <p class="me-3 light_text m-0 p-0 d-block d-lg-none">17</p>
        <p class="me-3 light_text m-0 p-0 d-block d-lg-none">18</p>
        <p class="me-3 light_text m-0 p-0 d-block d-lg-none">19</p>
        <p class="me-3 light_text m-0 p-0 d-block d-lg-none">20</p>
    </div>
    <p class="light_text p-2 d-flex me-4" style="flex-direction: column;">
        <span class="light_text">/*</span>
        <span class="orange">! Production Planning and Control : Autoliv India Pvt Ltd</span>
        <span class="light_text">* Apr 2022 - SEP 2022 | Bangalore, India.</span>
        <span class="light_text">* Managed new projects on Seatbelt & Airbag, including production planning and control.</span>
        <span class="light_text">* Implemented Kanban methodology in the production line to optimize processes.</span>
        <span class="light_text">* Handled procurement, considering cost, quality, availability, and delivery time.</span>
        <span class="light_text">*/</span>
    </p>
</div>