<div style="display: flex;align-items: baseline;">
    <div class="line_numbers">
        <p class="me-3 light_text m-0 p-0">1</p>
        <p class="me-3 light_text m-0 p-0">2</p>
        <p class="me-3 light_text m-0 p-0">3</p>
        <p class="me-3 light_text m-0 p-0">4</p>
        <p class="me-3 light_text m-0 p-0">5</p>
        <p class="me-3 light_text m-0 p-0">6</p>
    </div>
    <p class="light_text p-2 d-flex" style="text-align: justify;flex-direction: column;">
        <span class="light_text">/*</span>
        <span class="orange">! Achievements :</span>
        <span class="light_text">* Notable Newcomer Award | Pace wisdom Solution | March 2023.</span>
        <span class="light_text">* Star Performer Award | Pace wisdom Solution | April 2023.</span>
        <span class="light_text">* 3 stars on Hacker Rank.</span>
        <span class="light_text">*/</span>
    </p>
</div>